<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="mobile.AppiumFramework.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    	<class name="mobile.AppiumFramework.TestCase3"/>
      	<class name="mobile.AppiumFramework.ApiDemos"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
